.father {
  /* width: 100%; */
  /* height: 600px; */
  /* background-color: rgb(206, 15, 15); */
  border: 2px solid;
  /* width: 80%; */
  /* display: flex;
  justify-content: center; */
  background-color: antiquewhite;
  /* padding: 30px; */
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 30px;
}

.tareas {
  /* background-color: red; */
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}

/* .boton {
  margin-top: 20px;
} */

.button {
  /* width: 80px; */
  /* height: 10px; */
  background-color: blue;
  color: aliceblue;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  /* background-color: blue; */
  /* align-items: center; */
  align-items: flex-end;
}

.circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid;
  /* align-items: flex-end; */
}

.barra {
  background-color: gray;
  padding: 5px;
  display: flex;
  /* flex-direction: row; */
}

.contenedorPuntos {
  /* background-color: yellow; */
  padding: 5px;
  display: flex;
}

.circulitos {
  background-color: goldenrod;
  padding: 8px;
  margin: 10px;
  border-radius: 100%;
}
.container {
  border: 2px solid;
  /* height: 300px; */
  margin: 20px;
  /* width: 94%; */
}
#resultado {
  /* padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: rgb(7, 253, 253);
  font-size: 1.4rem;
  outline: none;
  margin: 5px; */
  /* max-width: 50%;
  min-height: 50%; */
  /* border: 2px solid; */
  /* display: flex; */
  padding-bottom: 30%;
  justify-content: space-between;
  /* border: 2px solid black; */
  /* padding: 10px;
  margin: 10px; */
  background-color: white;
}
.img {
  background-image: url(https://cdn.pixabay.com/photo/2015/02/24/15/41/wolf-647528_1280.jpg);
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 30%;
  font-size: 1.2em;
}

.tarea {
  display: flex;
  padding: 20px;
  border: 2px solid;
  margin: 10px 10px 10px 10px;
  background-color: gray;
}
li {
  list-style: none;
}
